{% extends 'base.html.twig' %}

{% block body %}

<section class="password-form">
    <div class="container">
        <h1>Modifiez votre mot de passe !</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Enregistrer le nouveau mot de passe !</button>
        {{ form_end(form) }}
    </div>
</section>

{% endblock %}