div.container {
    margin-top: 20px;
}

div.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad-title .btn {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
    /* padding: 1em 1.5em; */
}

div.ad-title h1, div.ad-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);   
}

img.avatar {
    border-radius: 50%;
    max-width: 100%;
}

img.avatar.avatar-medium {
    width: 64px;
}

img.avatar.avatar-large {
    width: 128px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick !important;
}