{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
<section class="ads py-5">
    <div class="container">
        {% include 'partials/sort.html.twig' %}
        <div class="row">
            {% for ad in ads %}
                {% include 'partials/ad.html.twig' %}
            {% endfor %}
        </div>

        {% include 'partials/pagination.html.twig' %}
    </div>
</section>
{% endblock %}
